.title-screen {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.6s ease, color 0.6s ease;
}

.title-content {
  text-align: center;
  padding: 40px;
}

.header-container {
    position: relative;
    width: 100%;
    height: 220px;
}

.img-container {
  position: relative;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.header-img {
  width: 100%;
  max-height: 420px;
  display: block;
  border-radius: 24px;
}

.game-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 8px #000;
  font-size: 3rem;
  pointer-events: none;
}

.subtitle {
  position: relative;
  transform: translateY(-40px);
  font-size: 20px;
  opacity: 0.8;
  margin-bottom: 80px;
  text-shadow: 2px 2px 8px #000;
  color: #fff;
}

.title-screen.day {
  background: linear-gradient(#ff0101, #eaf6ff);
  color: #111;
}

.title-screen.night {
  background: linear-gradient( #000 65%, #ff0101);
  color: #ff0101;
}

.subtitle.night {
  text-shadow: 2px 2px 8px #fff;
  color: #000;
}

.game-title.night {
  color: #ff0101;
}

.theme-toggle {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 36px;
}

.theme-toggle button {
  padding: 10px 18px;
  border-radius: 8px;
  border: 1px solid currentColor;
  background: transparent;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s ease;
  color: #fffefe;
  background: #000;
}

.theme-toggle button.active {
  transform: scale(1.2);
  background: #fffefe;
  color: #000;
}

.start-btn {
  font-size: 20px;
  padding: 14px 48px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #facc15;
  color: #000;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.start-btn.night {
  background: #000;
  color: #facc15;
  outline: 1px solid #facc15;
}

.start-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.4);
}

.music-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 50%;
  zoom: 2;
  cursor: pointer;
  transition: background 0.2s ease;
}

.music-btn:hover {
  background-color: #333;
}

.music-btn.night {
  background-color: #fff;
  color: #000;
}

@media (max-width: 716px) {
  .subtitle {
    transform: translateY(24px);
  }
  .subtitle.night {
    text-shadow: none;
    color: #fff;
  }
  .game-title {
    font-size: 2.5rem;
  }
}

